body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: 
    url(https://image.freepik.com/free-photo/flat-lay-ice-cream-cones-collection-dark-stone-background_35641-3048.jpg);
    background-size: cover;
}